.row {
    padding-top: 50px;
}


#sidebar.active {
    min-width: 90px;
    max-width: 90px;
    text-align: center;
}
#sidebar.active > div > ul > li > a > span {
    /* font-size: 8px;
    width: 16px;
    height: 16px; */
    display: none; 
}




 
  


  